.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 2px solid #3a3a3c;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 300ms, background-color 300ms;
}

.tileActive {
    border-color: #626266;
}

.matchDirect {
    background-color: #538d4e;
    border-color: #538d4e;
}

.matchIndirect {
    background-color: #b69f3c;
    border-color: #b69f3c;
}

.matchNone {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}